body{
    background-color: #121212;
    padding: 0;
    margin: 0rem;
}

/* #landing-container{
    position:fixed;
    z-index: 400000;
} */

#landing-page{
    position: absolute;
} 

/* landing page background */
.photo-grid{
    position: fixed;
    width: 100%;
    z-index: 4000;
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(4,minmax(auto,3fr));
    grid-template-rows: 50vh 50vh;
    /* grid-auto-rows: 100vh; */
}
.card{
    display: flex;
    justify-content: column;
    flex-direction: column;
    align-items: center;
    background-size:cover;
}
.card-tall{
    /* start / end means start whereever and span two rows and end whereever */
    grid-row: span 2 / auto;
    grid-column: span 2 / auto
}
/* .card-small-2{
    grid-column: span 2 / auto;
} */
.card-small-3{
    grid-column: span 1 / auto;
    grid-row: span 2 / auto;
}
@media screen and (max-width: 768px) {
    .card-tall{
        grid-column: span 4;
    }
    .card-small-3{
        grid-column: span 2;
    }
    .card-small-4{
        display: none;
    }
    .card-small-5{
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .card-tall{
        grid-column: span 12;
    }
    .card-small-3{
        display: none;
    }
    .card-small-4{
        display: none;
    }
    .card-small-5{
        display: none;
    }
}

.search-bar{
    position: fixed;
    z-index: 5000;
    top: 50%;
}
.hero-caption{
    font-family: sans-serif;
    /* font-weight: 700; */
    color: #fff; 
}
.hero-caption h1{
    line-height: initial ;
}
.search-form{
    font-size: 25px;
    width: 100%;
    position: relative;
}
.search-form input{
    width: 60%;
    padding: 0 30px;
    border-radius: 10px;
    border: none;
    font-weight: 300;
    font-size: 25px;
    position: relative;
    color: #484646;
    height: 70px;
}
.search-form button{
    position: absolute;
    height: 50px;
    margin-top: 20px;
    border: none;
    color: #1c1616;
    background-color: #fff;
    border-radius: 10px;
}
.search-item{
    margin: 5px;
}


/* map */
#map-container{
    position: relative;
}

#map {
    height: 100vh;
}

#hawkerSearch{
    position:absolute;
    top: 10px;
    left: 50px;
    z-index: 1000;
}
#hawkerName{
    font-size: x-large;
}
#hawkersearchBtn{
    font-size: x-large;
}

#stallFoodSearch{
    position:absolute;
    margin-top: 50px;
    margin-left: 50px;
    z-index: 2000;
}
#stallFood{
    font-size: x-large;
}
#stallFoodsearchBtn{
    font-size: x-large;
}