body{
    background-color: #121212;
    padding: 0;
    margin: 0.5rem;
}

/* landing page background */
.photo-grid{
    position: relative;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4,minmax(auto,3fr));
    grid-template-rows: 50vh 50vh;
    /* grid-auto-rows: 100vh; */
}
.card{
    display: flex;
    justify-content: column;
    flex-direction: column;
    align-items: center;
    background-size:cover;
}
.card-tall{
    /* start / end means start whereever and span two rows and end whereever */
    grid-row: span 2 / auto;
    grid-column: span 2 / auto
}
/* .card-small-2{
    grid-column: span 2 / auto;
} */
.card-small-3{
    grid-column: span 1 / auto;
    grid-row: span 2 / auto;
}
.search-bar{
    position: absolute;
    z-index: 2000;
    top: 50%;
}
.hero-caption{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    color: #fff; 
}
.hero-caption h1{
    font-size: 48px;
    line-height: initial ;
}
.search-form{
    font-size: 35px;
    width: 100%;
    position: relative;
}
.search-form input{
    width: 60%;
    padding: 0 30px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 25px;
    position: relative;
    color: #484646;
    height: 70px;
}
.search-form button{
    position: absolute;
    height: 50px;
    margin-top: 20px;
    border: none;
    color: #1c1616;
    background-color: #fff;
    border-radius: 10px;
}


/* map */
#map {
    height: 100vh;
    position: relative;
}

#hawkerSearch{
    position:absolute;
    margin-top: 10px;
    margin-left: 50px;
    z-index: 2000;
}
#hawkerName{
    font-size: x-large;
}
#hawkersearchBtn{
    font-size: x-large;
}

#stallFoodSearch{
    position:absolute;
    margin-top: 50px;
    margin-left: 50px;
    z-index: 2000;
}
#stallFood{
    font-size: x-large;
}
#stallFoodsearchBtn{
    font-size: x-large;
}