body{
    background-color: #121212;
    padding: 0;
    margin: 0rem;
    height: 100%;
}


#landing-page{
    position: absolute;
} 

/* landing page background */
.photo-grid{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 4000;
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(4,minmax(auto,3fr));
    grid-template-rows: 50vh 50vh;
}
.card{
    display: flex;
    justify-content: column;
    flex-direction: column;
    align-items: center;
    background-size:cover;
}
.card-tall{
    /* start / end means start whereever and span two rows and end whereever */
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
    height: 100%;
}
.card-small-3{
    grid-column: span 1 / auto;
    grid-row: span 2 / auto;
}
@media screen and (max-width: 768px) {
    .card-tall{
        grid-column: span 4;
    }
    .card-small-3{
        grid-column: span 4;
    }
    .card-small-4{
        display: none;
    }
    .card-small-5{
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .card-tall{
        grid-column: span 12;
    }
    .card-small-3{
        display: none;
    }
    .card-small-4{
        display: none;
    }
    .card-small-5{
        display: none;
    }
}

/* landing caption and searchbar section */
.landing-search-section{
    position: fixed;
    z-index: 5000;
    top: 30%;
}

#home-title{
    font-family: Gilroy,sans-serif;
    font-size: 100px;
    font-weight:800;
    color: #E76F51
}
@media screen and (max-width:768px){
    #home-title{
    font-size: 56px;
}
}
@media screen and (max-width:425px){
    #home-title{
    font-size: 36px;
    color: #D34E24;
}
}

.home-Subtitle1{
    font-family: Gilroy,sans-serif;
    font-size: 35px;
    font-weight: 900;
    color: #FFEBC6;
}
@media screen and (max-width:768px){
    .home-Subtitle1{
    font-size: 25px;
}
}
@media screen and (max-width:425px){
    .home-Subtitle1{
    display: none;
}
}

.home-Subtitle2{
    font-family: Gilroy,sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: #FFB100
}
@media screen and (max-width:768px){
    .home-Subtitle2{
    font-size: 25px;
}
}
@media screen and (max-width:425px){
    .home-Subtitle2{
    font-size: 25px;
    font-weight: 600;
    color: whitesmoke;
}
}

.hero-caption p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: bold;
    color:lightgray;
    margin-left: 1%;
}
@media screen and (max-width:768px){
    .hero-caption p{
    font-size: 18px;
}
}
@media screen and (max-width:425px){
    .hero-caption p{
    font-size: 12px;
}
}

.search-form{
    font-size: 25px;
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px ;
}
.search-form input{
    width: 60%;
    padding: 0 30px;
    border-radius: 10px;
    border: none;
    font-weight: 300;
    font-size: 25px;
    position: relative;
    color: #484646;
    height: 70px;
}
@media screen and (max-width:425px) {
    .search-form input{
    font-weight: 300;
    font-size: 15px;
    height: 40px;
}
}

.search-item{
    margin: 5px;
}
#search-results-list{
    font-size: medium;
    font-style: italic;
    color: #484646;
    cursor: pointer;
}

#form-validation{
    z-index: 5001;
    position: absolute; 
    cursor: pointer; 
    top:100px;
    left: 95%;
    top: 90%; 
}
@media screen and (max-width:425px) {
    #form-validation{
    left: 80%;
    top: 90%;
}
}


.btn.btn-outline-secondary{
    --bs-btn-border-color: none,
}
#loveletter{
    width: 65px;
}
@media screen and (max-width:425px) {
    #loveletter{
    width: 40px;
}
}

#form-container{
    position: absolute;
    z-index: 7001;
    justify-content: center;
    background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
    padding: 0;
}
#form-container.active{
    transform: translate(50%,50%) scale(1);
    transition: top 0ms ease-in-out 0ms,    
                transform 200ms ease-in-out 0ms;;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
    display: flex;
    justify-content: center;
}
.form {
	padding: 30px 40px;	
}
.landing-form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}
.landing-form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.landing-form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}
.landing-form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form button {
	background-color: #E76F51;
	border: 2px solid #E76F51;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}



/* map */   
#map-container{
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    height: 100vh;
}

/* css to customize Leaflet default styles  */
.popupCustom .leaflet-popup-content-wrapper {
    background: #e0e0e0;
    color: #234c5e;
}

/* map page search bar */
#search-container{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: rgba(202,137,95,0.8);
    position:absolute;
    top: 10px; 
    left: 50px;
    z-index: 1000;
    transition: 0.5s;
}
#search-container .icon{
    position: absolute; 
    transform: translate(50%, 75%);
}
#search-container .icon .search{
    font-size: 21px;
    cursor: pointer;
    color: #444;
}
#search-container.active{
    width: 400px;
}


#search-container .input{
    position: relative;
    width: 300px;
    height: 60px;
    left: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#search-container .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
}
#search-container .input .clear{
    position: absolute;
    right: -5%;
    /* transform: translate(-50%, -50%); */
    cursor: pointer;
    font-size: 20px;
}
#search-results{
    /* z-index: 3000; */
    position: absolute;
    cursor: pointer;
}

.overflow-hidden {
    overflow: hidden;
}

.leaflet-popup-content-wrapper {
  background-color: rgba(234,239,211,0.9);
}
.leaflet-popup-content h4,
.leaflet-popup-content h5{
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

@media screen and (max-width:425px) {
    .leaflet-marker-icon{
    width: 30px;
    height: auto;
}
}


